<div class="authform">
  <h3><%= I18n.t('deviseforms.edit')%> <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label I18n.t('deviseforms.name') %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label I18n.t('deviseforms.email') %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= I18n.t('deviseforms.waitingconfirmation') %><%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p><%= I18n.t('deviseforms.leavefieldsblank') %></p>
      <div class="form-group">
        <%= f.label I18n.t('deviseforms.password') %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label I18n.t('deviseforms.password_confirmation') %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p><%= I18n.t('deviseforms.entercurrentpassword') %></p>
      <div class="form-group">
        <%= f.label I18n.t('deviseforms.currentpassword') %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit I18n.t('deviseforms.update'), :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3><%= I18n.t('deviseforms.cancelaccount') %></h3>
<p><%= I18n.t('deviseforms.sadtoletgo') %></p>
<%= button_to I18n.t('deviseforms.cancelaccount'), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
