<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3><%= I18n.t('deviseforms.forgotpassword') %></h3>
    <p><%= I18n.t('deviseforms.sendpasswortreset') %></p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label I18n.t('deviseforms.email') %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit I18n.t('deviseforms.resetpasswort'), :class => 'button right' %>
  <% end %>
</div>
