<p><%= I18n.t('devise.mailer.hello') + ' ' + @resource.email %>!</p>

<p><%= I18n.t('devise.mailer.changepasswordlink') %></p>

<p><%= link_to I18n.t('devise.mailer.changepassword'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('devise.mailer.ignoremail') %></p>
<p><%= I18n.t('devise.mailer.passwordnotchange') %></p>
